li{
    &.complete{
        color: #d9d9d9;
        text-decoration: line-through;
    }

}
.todo-list{
    border:1px solid red;
    li{
        &:hover .btn-delete{
            display: block;
        }
    }
}
.btn-delete{
    display: none;
    transition: color 0.2s ease-out;
    &:hover{
        color: #af5b5e;
    }
    &:after{
        content: '×';
    }
}